# Список файлов, которые не должны попадать в репозиторий: https://github.com/beast1/webstars-gulp
# Синтаксис: http://webnotes.by/docs/raznoe/pravila-sintaksisa-fayla-gitignore
# Рекомендуется добавлять сюда папки ваших проектов

node_modules

design/

tele2/build/
mts/build/
megafon/build/
beeline/build/
tele2/preZip/

tele2/history/
mts/history/
megafon/history/
beeline/history/

global/config.json
global/history/
global/latest-release/

beeline/archivStorageLoad/
beeline/linkTakeTracker/

megafon/fileInBox/
megafon/linkTakeTracker/

mts/filesTree/
mts/purple/
mts/topKachayFile/
mts/linkTakeTracker/
mts/justPoiskovik/
mts/newVideoKachay/
mts/newVideoLoad/
mts/topKachayFile_2/
mts/topKachayFile_3/
mts/ero69/
mts/getFiles/
mts/getFiles_2/
mts/getFiles_3/
mts/getFiles_4/
mts/getFiles_5/
mts/coolContent/

tele2/docsFilesDownload/
tele2/fileInBox/
tele2/mnogoFiles/
tele2/filesCloud/
tele2/archivFileDownload/
tele2/docBase/
tele2/linkTakeTracker/
tele2/news_1/
tele2/news_2/
tele2/films_1/
tele2/films_2/
tele2/newVideoKachay/
tele2/newVideoLoad/
tele2/weather_1/
tele2/weather_2/
tele2/adult_1/
tele2/adult_2/
tele2/fileShering_1/
tele2/getFiles/
tele2/justPoiskovik/