<tr th:if="${isWebRequest} == true">
  <td colspan="2" class="label-column"><label for="code">Введите код подтверждения, отправленный в SMS</label></td>
</tr>
<tr th:if="${isWebRequest} == true">
  <td colspan="2" height="10"></td>
</tr>
<tr th:if="${isWebRequest} == true">
  <td width="170" class="approve-code"><input id="code" name="activationCode" type="text" th:value="${activationCode}" /></td>
  <td><a href="javascript:mainFrm.repeatCode.value = 'true';javascript: document.mainFrm.submit();" class="info info-sms">Выслать SMS повторно</a></td>
</tr>

