<tr th:if="${useCaptcha} == true">
	<table>
		<tr th:if="${useCaptcha} == true">
		  <td colspan="3" class="label-column label-column--pt"><label for="answer">Введите цифры, показанные на картинке</label></td>
		</tr>
		<tr valign="middle">
		  <td>
			<input class="input-answer" id="answer" style="width: 150px;" type="text" name="answer" />
		  </td>
		  <td style="width: 150px;">
			<input type="hidden" name="repeatCaptcha" value="false" />
			<img id="capchaimage" th:src="@{captcha(sessionId=${session_id})}" style="margin-bottom: 5px; background-color: white" height="50px" />
		  </td>
		  <td>
			<div class="center">
			  <a href="javascript:mainFrm.repeatCaptcha.value = 'true';javascript: document.mainFrm.submit();" class="info info-f5">Обновить код</a>
			</div>
		  </td>
		</tr>
	</table>
</tr>