<div th:if="${useCaptcha} == true" class="form__row  form__row_captcha">
	<label th:if="${useCaptcha} == true" class="form__label  form__label_fieldset  form__label_captcha" for="answer">Введите цифры, показанные на картинке</label>
	<div class="form__item  form__item_1-of-2">
		<input class="form__input" id="answer" name="answer" type="text" />
	</div>
	<div class="form__item  form__item_1-of-2  form__item_captcha">
		<input type="hidden" name="repeatCaptcha" value="false" />
		<img class="form__captcha-img" id="capchaimage" th:src="@{captcha(sessionId=${session_id})}" style="margin-bottom: 5px; background-color: white" height="50px" />
		<a class="form__captcha-reload" href="javascript:mainFrm.repeatCaptcha.value = 'true';javascript: document.mainFrm.submit();" class="info info-f5">Обновить код</a>
	</div>
</div>