.page
	display: flex
	max-width: 1138px
	width: 100%
	margin: 0 auto

	background-color: $white
	border-radius: 6px
	overflow: hidden

	&__left
		@media (min-width: $s-sm) 
			max-width: 320px
			width: 100%
			
			background-size: cover
			background-repeat: no-repeat
			background-image: url("../img/bg-icons.jpg")

	&__right
		padding: 60px

	&__title 
		margin: 0
		margin-bottom: 30px

		font-size: 30px
		line-height: 38px
		font-weight: 700
		text-transform: uppercase
		text-align: center