.btn
	display: flex
	align-items: center
	border: none

	color: $white
	font-weight: 700
	text-decoration: none

	background: none

	&_submit
		padding: .2em 1em
		border:  .25em solid $btn-submit-border-color
		
		color: $btn-submit-color
		font-size: 1.8em	
		white-space: nowrap
		text-shadow: 2px 1px 2px fade-out($black, .8)

		background-color: $btn-submit-bg
		border-radius: 60px
		box-shadow: $btn-submit-shadow

	&_cencel
		padding: .4em 2em
		border: 0px solid $btn-cencel-border-color
		margin-top: 1.5em
		margin-bottom: 1em	
		
		color: $btn-cencel-color
		font-size: 1.5em	

		background-color: $btn-cencel-bg
		box-shadow: $btn-cencel-shadow
		border-radius: 20px

	a
		color: inherit
		text-decoration: none

	&__icon
		background-size: contain
		background-position: center center
		background-repeat: no-repeat

		&_submit
			width: $btn-submit-icon-width
			height: $btn-submit-icon-height

			background-image: $btn-submit-icon-url

		&_submit.btn__icon_left
			margin-right: $btn-submit-icon-margin

		&_submit.btn__icon_right
			margin-left: $btn-submit-icon-margin