html
	height: 100%

body 
	box-sizing: border-box
	margin: 0
	padding: 15px
	padding-top: 0

	font-family: $default-font
	
	background-size: cover
	background-repeat: no-repeat
	background-image: url("../img/bg-full-body.jpg")

* 
	box-sizing: inherit